* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 14px;
}

.d-flex {
    display: flex;
}

.upper-bar {
    justify-content: end;
    gap: 5px;
    padding: 5px;
}



.speaker-view, .screen-view {
    background-color: #4A4A4A;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.users-grid {
    gap: 5px;
    padding: 2rem 4rem;
}

.col {
    width: calc(100% / 7);
}

.user {
    position: relative;
    margin-bottom: 5px;
}

.user img {
    width: 100%;
    aspect-ratio: 1/0.5;
}

.user-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.bottom-bar {
    background-color: #222222;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-bar i {
    font-size: 25px;
    padding-bottom: 10px;
 }

.user-tools {
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
}

.user-tools .tools-options i {
    font-size: 12px;
}

.end-meeting {
    background-color: #4A4A4A;
    padding: -10px;
    position: absolute;
    top: 0;
    right: 0;
}

.end-meeting a {
    display: inline-block;
    text-decoration: none;
    color: red;
    padding: 1.5rem 1rem;
}

.central {
    gap: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translatex(-50%);
}

.bottom-bar a {
    color: white;
    text-decoration: none;
}

.share-icon i {
    color: #50CB00;
}