* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    height: 100vh;
    background-color: black;
    color: white;
}

.d-flex {
    display: flex;
}

.upper-bar {
    justify-content: end;
    gap: 5px;
    padding: 5px;
}

.upper-bar .fa-solid {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.speaker-view, .screen-view {
    background-color: #4A4A4A;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.users-grid {
    gap: 5px;
    padding: 2rem 4rem;
}

.col {
    width: calc(100% / 7);
}

.user {
    position: relative;
}

.user img {
    width: 100%;
    aspect-ratio: 1/0.5;
}

.user-name {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}